/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px){
    body {
        background-color: rgb(0, 0, 33);
        color: white;
    }
}
@media only screen and (min-width: 769px){
    body {
        background-color: rgb(0, 0, 33);
        color: white;
    }
    .leftSection{
       font-weight: 600;
       margin-right: 8rem;
       font-size: 2rem;
       margin: 5rem;
      }
      #socials-container {
        margin-left: 1rem;
      }
      .btn-color-1 {
       width: 50%;
       font-size: 0.75rem;
       color: rgb(0, 0, 0);
      }
      
      .leftSectionEducation {
       margin-left: 4rem;
      }
      .rightSectionEducation h2{
       margin-left: 8rem;
       font-size: x-large;
      }
      .rightSectionEducation h4{
       margin-left: 8rem;
       font-size: large;
      }
      .rightSectionEducation h6{
       margin-left: 8rem;
       font-size: large;
      }
      .rightSectionEducation ul{
       margin-left: 8rem;
       font-size: medium;
      }
      .thirdSection img {
       height: 4rem;
      }
      .nav-links-container{
       font-size: 1rem;
      }
      .contact-up a:hover{
       text-decoration: underline;
       text-underline-offset: 0.5rem;
     }
}
@media screen and (max-width: 768px) {
    body {
        background-color: rgb(0, 0, 33);
        color: white;
    }
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    .firstSection{
        display: block;
        flex-direction:row;
        flex-wrap:wrap-reverse
        width: 100%;
      }
      .firstSection img{
       margin-left: 11rem;
       height: 40%;
       width: 40%;
      }
      .leftSection{
       font-weight: 600;
       margin-right: 8rem;
       font-size: 2rem;
       margin: 5rem;
      }
      .btn-color-1 {
       width: 35%;
       font-size: 0.75rem;
       color: rgb(0, 0, 0);
      }
      .icon {
       display: none;       
      }
      .leftSectionEducation {
       margin-left: 3rem;
      }
      .rightSectionEducation h2{
       margin-left: 6rem;
       font-size: large;
      }
      .rightSectionEducation h4{
       margin-left: 6rem;
       font-size: medium;
      }
      .rightSectionEducation h6{
       margin-left: 6rem;
       font-size: medium;
      }
      .rightSectionEducation ul{
       margin-left: 6rem;
       font-size: small;
      }
      .thirdSection img {
       height: 4rem;
      }
      .thirdSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
      .nav-links-container{
       font-size: large;
      }
      .contact-up a:hover{
       text-decoration: underline;
       text-underline-offset: 0.5rem;
     }
}
@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(0, 0, 33);
        color: white;
    }
    .firstSection{
     display: block;
     flex-direction:row;
     flex-wrap:wrap-reverse
     width: 100%;
   }
   .firstSection img{
    margin-left: 7.5rem;
    margin-bottom: -2rem;
   }
   .leftSection{
    font-weight: 600;
    margin-right: 8rem;
    font-size: 1.5rem;
    margin: 5rem;
   }
   .btn-color-1 {
    width: 50%;
    font-size: 0.75rem;
    color: rgb(0, 0, 0);
   }
   .icon {
    display: none;       
   }
   .leftSectionEducation {
    margin-left: 1rem;
   }
   .rightSectionEducation h2{
    margin-left: 6rem;
    font-size: medium;
   }
   .rightSectionEducation h4{
    margin-left: 6rem;
    font-size: small;
   }
   .rightSectionEducation h6{
    margin-left: 6rem;
    font-size: small;
   }
   .rightSectionEducation ul{
    margin-left: 6rem;
    font-size: smaller;
   }
   .thirdSection img {
    height: 4rem;
   }
   .nav-links-container{
    font-size: smaller;
   }
   .contact-up a:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
  }
}
@media only screen and (max-width: 390px) {
    body {
        background-color: rgb(0, 0, 33);
        color: white;
    }
    .firstSection{
     display: block;
     flex-direction:row;
     flex-wrap:wrap-reverse
     width: 100%;
   }
   .firstSection img{
    margin-left: 6.3rem;
    margin-bottom: -2rem;
   }
   .leftSection{
    font-weight: 600;
    margin-right: 8rem;
    font-size: 1.5rem;
    margin: 5rem;
   }
   .btn-color-1 {
    width: 47%;
    font-size: 0.69rem;
    font-weight: 750;
    color: rgb(255, 255, 255);
    background-color: rgb(19, 19, 19);
   }
   
   .leftSectionEducation {
    margin-left: 1rem;
   }
   
   .rightSectionEducation h2{
    margin-left: 7rem;
    font-size: small;
   }
   .rightSectionEducation h4{
    margin-left: 7rem;
    font-size: smaller;
   }
   .rightSectionEducation h6{
    margin-left: 7rem;
    font-size: smaller;
   }
   .rightSectionEducation ul{
    margin-left: 7rem;
    font-size: x-small;
   }
   .thirdSection img {
    height: 2.5rem;
   }
   .nav-links-container{
    font-size: xx-small;
   }
   .contact-up a:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
  }
  .title_cm {
    font-size: x-large;
  }
  .section_text_p1 {
    font-size: medium;
  }
  .contact-info a {
    font-size: medium;
  }

}